/* You can add global styles to this file, and also import other style files */
* {
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Work Sans';
}
@font-face {
    font-family: 'Work Sans';
    src: url('./assets/fonts/WorkSans-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}